<div class="input-group">
	<input ng-model="ngModel" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" is-open="status.opened" datepicker-options="datepickerOptions"
	ng-required="{{ngRequired}}" current-text="Hoje" clear-text="Limpar" close-text="Fechar"> <span
		class="input-group-btn">
		<button type="button" class="btn btn-default" ng-click="status.opened = true">
			<i class="glyphicon glyphicon-calendar"></i>
		</button>
	</span>
</div>