<!DOCTYPE html>
<html ng-app="crud">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exemplo CRUD</title>

<script type="text/javascript">
	var l = window.location.pathname;
    if(l.charAt(l.length - 1) !== '/') {
	    window.location.pathname += '/';
    }
</script>

<link rel="stylesheet" href="./webjars/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/panel.css">
<link rel="stylesheet" href="./css/form.css">

</head>
<body>

	<div ng-controller="LoaderController" class="loading" style="display: none" ng-style="{'display': (loader.visible ? 'block' : 'none')}">
		<img class="spin" alt="loading" src="./img/loading.png">
	</div>

	<nav class="navbar navbar-custom">
		<div class="container-fluid">
			<div class="navbar-header">
				<div class="navbar-brand">Exemplo CRUD</div>
			</div>
		</div>
	</nav>

	<div class="container" ng-controller="PessoaController">
		<div class="panel panel-custom">
			<div class="panel-heading">
				<div class="panel-title">
					Pessoas
					<button class="btn btn-sm btn-primary pull-right" title="Adicionar" ng-click="addPessoa()">
						<i class="glyphicon glyphicon-plus"></i>
					</button>
				</div>
			</div>
			<div class="panel-body">

				<div class="input-group">

					<input type="text" ng-model="filtro.pessoa.nome" class="form-control" placeholder="Nome"> <span class="input-group-btn">
						<button class="btn btn-default" uib-btn-checkbox ng-model="filtro.exibir" ng-change="mostrarOuEsconderFiltros()">
							<i class="glyphicon" ng-class="{'glyphicon-filter': !filtro.exibir, 'glyphicon-chevron-down': filtro.exibir}"></i> Filtros Avançados
						</button>
					</span>

				</div>

				<div ng-show="filtro.exibir">

					<hr>

					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">Data de Nascimento</label>
							<div class="col-sm-5">
								De
								<date-popup ng-model="filtro.datas.from" max-date="filtro.datas.to"></date-popup>
							</div>
							<div class="col-sm-5">
								até
								<date-popup ng-model="filtro.datas.to" min-date="filtro.datas.from" max-date="maxDate"></date-popup>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">CPF</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" mask="999.999.999-99" ng-model="filtro.pessoa.cpf">
							</div>
						</div>
					</div>

				</div>

			</div>

			<div class="panel-body" ng-show="pessoas.length == 0" style="font-size: 26px">
				<hr>
				Nada para mostrar...<br>Tente adicionar uma pessoa!
			</div>

			<table class="table table-hover" ng-show="pessoas.length > 0">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Data de Nascimento</th>
						<th colspan="2">CPF</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="p in pessoas | filter:filtro.pessoa | dateRange:filtro.datas.from:filtro.datas.to:'dataNascimento'">
						<td>{{::p.id}}</td>
						<td>{{::p.nome}}</td>
						<td>{{::p.dataNascimento | date:'dd/MM/yyyy'}}</td>
						<td>{{::p.cpf}}</td>
						<td class="actions"><div class="btn-group">
								<button type="button" class="btn btn-default btn-sm" ng-click="addPessoa(p)">
									<i class="glyphicon glyphicon-pencil" title="Editar"></i>
								</button>
								<button type="button" class="btn btn-danger btn-sm" ng-click="removerPessoa(p)">
									<i class="glyphicon glyphicon-trash" title="Excluir"></i>
								</button>
							</div></td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<script src="./webjars/jquery/2.1.3/jquery.min.js"></script>
	<script src="./webjars/angularjs/1.5.5/angular.min.js"></script>
	<script src="./webjars/angularjs/1.5.5/i18n/angular-locale_pt-br.js"></script>
	<script src="./webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="./webjars/angular-ui-bootstrap/1.3.3/ui-bootstrap.min.js"></script>
	<script src="./webjars/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
	<script src="./webjars/bootbox.js/4.4.0/bootbox.js"></script>
	<script src="./js/lib/ngMask/ngMask.min.js"></script>

	<script src="./js/util.js"></script>

	<script src="./js/crud.js"></script>

	<script src="./js/service/pessoaService.js"></script>

	<script src="./js/controller/loaderController.js"></script>
	<script src="./js/controller/pessoaController.js"></script>
	<script src="./js/controller/addPessoaController.js"></script>

	<script src="./js/directive/cpf.js"></script>
	<script src="./js/directive/datePopup.js"></script>

</body>
</html>