body {
	background-color: #f8f8f8;
}

.loading {
	text-align: center;
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(198, 198, 198, 0.5);
}

.loading > img {
	position: static;
	margin-top: 10%;
}

.spin {
	-webkit-animation:spin 1.4s linear infinite;
    -moz-animation:spin 1.4s linear infinite;
    animation:spin 1.4s linear infinite;
}

td.actions {
	width: 83px;
}

td.actions > .btn-group {
	visibility: hidden;
}

tr:hover > td.actions > .btn-group {
	visibility: visible;
}
