.panel-custom {
	border-color: #eee;
	border-radius: 3px;
	box-shadow: 1px 2px 3px #777;
}

.panel-custom .panel-heading {
	background-color: white;
	border-color: white;
}

.panel-custom .panel-heading .panel-title {
	font-size: 20px;
}
