<form name="form" ng-submit="save()">
	<div class="modal-header">
		<h4>{{::data.isNew ? 'Adicionar Pessoa' : 'Editar ' + pessoa.nome}}</h4>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-2 control-label">Nome</label>
				<div class="col-sm-10">
					<input class="form-control" type="text" ng-model="pessoa.nome" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Data de Nascimento</label>
				<div class="col-sm-10">
					<date-popup ng-model="pessoa.dataNascimento" ng-required="true"></date-popup>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">CPF</label>
				<div class="col-sm-10">
					<cpf class="form-control" ng-required="true" ng-model="pessoa.cpf"></cpf>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit" ng-disabled="form.$pending">
			<i class="glyphicon glyphicon-floppy-disk"></i>Salvar
		</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">
			<i class="glyphicon glyphicon-ban-circle"></i>Cancelar
		</button>
	</div>
</form>
